.App {
  text-align: center;
  display: flex;
  direction: row;
  /* justify-content: flex-start; */
  height: 100vh;
  overflow: hidden;
}

.mainPage {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
